canali.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgrammiTV">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Canale">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nome" type="xs:string" />
              <xs:element name="URL" type="xs:string" />
              <xs:element name="descrizione" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Programmi">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Programma">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OraInizio" type="xs:string" />
                          <xs:element name="OraFine" type="xs:string" />
                          <xs:element name="NomeProgramma">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="^[a-zA-Z\s]+$"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Img" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="IDcanale" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
